{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/carts.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <title> Django Sample Site - {% block title %}{% endblock %}</title>
</head>

<body>
    {% include 'header.html' %}

    <div class="cards-container-one">
        <!-- {{product.stock}} -->
        <div class="row ">
            <div class="col custom_div_03">
                <img src={{product.image}} alt={{product.name}} class="product_image-01">
                <img src={{product.image}} alt={{product.name}} class="product_image">
            </div>
        </div>
        <div class="row">
            <div class="col custom_div">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h4 class="name_p">{{product.name}}</h4>
                    </li>

                    <li class="list-group-item">
                        <span class=" size_font green_flag"> {{product.price}} $ <small class="red_flag">-
                                {{product.discount_percent}} %</small>

                        </span>
                        <p>Inclusive of all taxes</p>

                    </li>
                    <li class="list-group-item">
                        <div> <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div>
                            Total xyz Ratings
                        </div>

                    </li>

                    <li class="list-group-item">
                        <h4>Offers</h4>
                    </li>
                    <li class="list-group-item">

                        <div class="carousel">
                            <button class='flt-left' id="clickleft"><i class="fa fa-angle-left"
                                    aria-hidden="true"></i></button>
                            <div class="row_01">

                                <div class="row-container">
                                    <div class="container_01">
                                        <img class="image_holder"
                                            src="https://m.media-amazon.com/images/G/31/A2I-Convert/mobile/IconFarm/icon-returns._CB484059092_.png" />
                                    </div>
                                    <div class="container_01">
                                        <img class="image_holder"
                                            src="https://m.media-amazon.com/images/G/31/A2I-Convert/mobile/IconFarm/icon-top-brand._CB617044271_.png" />
                                    </div>
                                    <div class="container_01">
                                        <img class="image_holder"
                                            src="https://m.media-amazon.com/images/G/31/A2I-Convert/mobile/IconFarm/trust_icon_free_shipping_81px._CB630870460_.png" />
                                    </div>
                                    <div class="container_01">
                                        <img class="image_holder"
                                            src="https://m.media-amazon.com/images/G/31/A2I-Convert/mobile/IconFarm/icon-amazon-delivered._CB485933725_.png" />
                                    </div>
                                    <div class="container_01">
                                        <img class="image_holder"
                                            src="https://m.media-amazon.com/images/G/31/A2I-Convert/mobile/IconFarm/icon-cod._CB485937110_.png" />
                                    </div>

                                    <div class="clear"></div>
                                </div>

                            </div>
                            <button class='flt-left' id="clickright"><i class="fa fa-angle-right"
                                    aria-hidden="true"></i></button>
                            <div class="clear"></div>
                        </div>

                    </li>
                    <li class="list-group-item">
                        <h4>About this Item</h4>
                        <p class="desc">{{product.description}}</p>
                    </li>
                </ul>



            </div>

        </div>

        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{product.price}} $</li>
                        {% if product.stock != 0 %}
                        <li class="list-group-item green_flag">
                            <bold>In Stock - {{product.stock}} Left</bold>
                        </li>
                        {% else %}
                        <li class="list-group-item red_flag">Out of Stock</li>
                        {% endif %}
                        <li class="list-group-item">
                            <div id="add_to_cart" class="add_to_cart">
                                <label for="quantity">Quantity:</label>
                                <select name="quantity" id="quantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                </select>
                            </div>
                            <div class="add_to_cart">
                                <button type="button" data-pname="{{product.name}}" data-image={{product.image}}
                                    data-product_id={{product.id}} data-price={{product.price}} id="add-crt"
                                    class="btn btn-warning">Add To Cart</button>
                                <button type="button" class="btn btn-dark">Buy Now</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <h3 class="ratings">Recommending Products with similiar Ratings </h3>
    <div class="cards-container-two">
        <div class="cards-container">

            {% for dict_item in recommendedProductonRatings %}
            <!-- {{dict_item}} -->
            <a href="{% url 'productpage' id=dict_item.id userId=userId %}" data-item-id="{{dict_item.id}}">
                <div class="card">

                    <div class="imgBx">
                        <img src={{dict_item.image}} alt={{dict_item.name}}>
                    </div>
                    <div class="contextBx">
                        <h3>{{dict_item.name}}</h3>
                        <h3 class="p">{{dict_item.price}} $ </h3>
                        <p class="p"><small>{{dict_item.stock}} Left</small></p>
                        <div class="price">Upto {{dict_item.discount_percent}} % off | {{dict_item.cat_name}}</div>
                        <a class="buy">AddToCart</a>
                    </div>
                </div>
            </a>


            {% endfor %}
        </div>
    </div>
    <div class="cards-container-two">Customers frequently viewed</div>
    <div class="cards-container-two">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h3>Looking for specific info?</h3>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </li>

            <li class="list-group-item">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h3>Customer Reviews</h3>
                                    <div>

                                        <span class="heading">User Rating</span>

                                        <span class="fa fa-star {% if avarage_ratings > 0 %} checked {% endif %}"
                                            id="st1"></span>
                                        <span class="fa fa-star {% if avarage_ratings > 1 %} checked {% endif %}"
                                            id="st2"></span>
                                        <span class="fa fa-star {% if avarage_ratings > 2 %} checked {% endif %}"
                                            id="st3"></span>
                                        <span class="fa fa-star {% if avarage_ratings > 3 %} checked {% endif %}"
                                            id="st4"></span>
                                        <span class="fa fa-star {% if avarage_ratings > 4 %} checked {% endif %} "
                                            id="st5"></span>

                                        <p>{{avarage_ratings }} average based on {{comments|length}} reviews.</p>
                                        <hr style="border:3px solid #f1f1f1">
                                        <div class="total">
                                            <div id="desc5"></div>
                                            <div id="ratingBar5" class="ratingBar"></div>
                                            <div id="percentage">5 Stars Ratings</div>
                                        </div>
                                        <div class="total">
                                            <div id="desc4"></div>
                                            <div id="ratingBar4" class="ratingBar"></div>
                                            <div id="percentage">4 Stars Ratings</div>
                                        </div>

                                        <div class="total">
                                            <div id="desc3"></div>
                                            <div id="ratingBar3" class="ratingBar"></div>
                                            <div id="percentage">3 Stars Ratings</div>
                                        </div>
                                        <div class="total">
                                            <div id="desc2"></div>
                                            <div id="ratingBar2" class="ratingBar"></div>
                                            <div id="percentage">2 Stars Ratings</div>
                                        </div>
                                        <div class="total">
                                            <div id="desc1"></div>
                                            <div id="ratingBar1" class="ratingBar"></div>
                                            <div id="percentage">1 Stars Ratings</div>
                                        </div>

                                    </div>

                                </li>
                            </ul>
                        </div>
                        <div class="col-8">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h3>Customers Say</h3>
                                </li>
                                {% for dict_item in comments %}
                                <li class="list-group-item">
                                    <p>
                                        <bold>{{dict_item.name}}</bold>
                                        {% if dict_item.review == 1 %}
                                        <span class="red_flag">Very Poor</span>
                                        {% elif dict_item.review == 2 %}
                                        <span class="red_flag"> Poor</span>
                                        {% elif dict_item.review == 3 %}
                                        <span class="green_flag">Average</span>
                                        {% elif dict_item.review == 4 %}
                                        <span class="green_flag">Good</span>
                                        {% else %}
                                        <span class="green_flag">Very Good</span>
                                        {% endif %}
                                    </p>
                                    <p>{{dict_item.text}}</p>
                                    <div>
                                        <i id={{dict_item.id}} class="fa-regular fa-heart blank">
                                        </i>
                                        <span class="green_flag"> {{dict_item.likes}}</span>

                                    </div>

                                </li>
                                {% endfor %}
                            </ul>

                        </div>

                    </div>
                </div>
            </li>
        </ul>

    </div>

    <script>
        const comments = '{{ reviewArray }}'
    </script>
    <script type="text/javascript" src="{% static 'js/products.js' %}"></script>

</body>

</html>